{% block body %}
    <section>
        <p>Une erreur c'est produite lors de l'achat :(</p>
        <a class="btn btn-primary btn-fw" href="{{ path('accueilIndex') }}">redirection</a>
    </section>
{% endblock %}