{% extends 'base.html.twig' %}
{% block title %}Lister Admin{% endblock %}
{% block stylesheets %}{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Liste admin</h4>
                    <form action="{{ path('adminAjouter') }}" method="get">
                        <button type="submit" class="btn btn-primary">Ajouter un nouveau admin</button>
                    </form>
                    <div class="table-responsive">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th style="text-align: center;"> Email </th>
                                <th style="text-align: center;"> Supprimer </th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for a in admins %}
                                <tr>
                                    <td style="text-align: center;"  class="text-white">{{ a.email }}</td>
                                    <td>
                                        <form action="{{ path('adminSupprimer', {'id': a.id}) }}" method="post" style="text-align: center">
                                            <input type="hidden" name="_method" value="DELETE">
                                            <button type="submit" class="btn btn-outline-primary">Supprimer</button>
                                        </form>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}